#draggable {
  border: 1px solid black;
  position: relative;
  width: 300px;
  height: 300px;
  margin: -10px;
}

#draggable div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  background-color: gray;
  border: 1px solid black;
}

#piece-1 {
  position: absolute;
  width: 50px;
  height: 150px;
  left: 100px;
}

#piece-2 {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 150px;
}

#piece-3 {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 100px;
  top: 150px;
}

#piece-4 {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 100px;
  background-color: red !important;
}
